---
import Layout from "../layouts/Layout.astro";
import Welcome from "../components/Welcome.astro";
import Image from "../components/Image.astro";
import Contact from "../components/Contact.astro";
import Projects from "../components/Projects.astro"
import Cards from "../components/Cards.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const hi = "Hi I´m Carlos!";
const text1 =
  "A Fullstack Junior Developer in search of new challenges. Creativity, problem solving, and team workare three of my strengths. Check out below to see some of my most recent projects!";
---

<Layout title="AndresMuñoz.Dev">
  <Header />
  <main>
    <section id="about">
      <Welcome welcomeh3={hi} parrafo={text1} />
    </section>
    <section id="projects">
      <Projects />
    </section>
    <section>
      <Cards />
    </section>
    <section id="interesting">
      <section class="section-technologies">
        <h3>Technologies I know:</h3>
        <div class="technologies">
          <div class="slider">
            <Image />
          </div>
        </div>
      </section>
    </section>
    
    <section id="contact">
      <Contact />
    </section>
    <section>
      <Footer />
    </section>
</main>
</Layout>

<style>
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 
 .section-technologies{
  padding: 80px 0 80px 0;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 2px;
 }
 .section-technologies h3{
  padding: 80px 0 80px 0;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 2px;
  text-transform: uppercase;
 }
  .technologies{
  width: 100%;
  justify-content: center;
  align-items: center;
  }
  .slider {
    display: flex;
    max-width: 100%;
    padding: 1rem 4rem;
    background-color: linear-gradient(rgb(21 18 19) 0%, rgb(180 72 0) 50%);
    justify-content: space-between;
    box-shadow: -webkit-box-shadow: inset 3px -19px 47px 31px rgba(13,13,13,1);
                -moz-box-shadow: inset 3px -19px 47px 31px rgba(13,13,13,1);
                 box-shadow: inset 3px -19px 47px 31px rgba(13,13,13,1);
  }
  .slider:hover {
    display: flex;
    max-width: 100%;
    padding: 1rem 4rem;
    justify-content: space-between;
    box-shadow: -webkit-box-shadow: inset 3px -19px 47px 31px rgba(13,13,13,1);
                -moz-box-shadow: inset 3px -19px 47px 31px rgba(13,13,13,1);
    box-shadow: inset 3px -19px 47px 31px rgba(13,13,13,1);
  }
</style>
