---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Welcome from "../components/Welcome.astro";
import Image from "../components/Image.astro";

const hi = "Hi I´m Carlos!";
const text1 =
  "A Fullstack Junior Developer in search of new challenges. Creativity, problem solving, and team workare three of my strengths. Check out below to see some of my most recent projects!";
---

<Layout title="Welcome to Astro.">
  <main>
    <Welcome welcomeh3={hi} parrafo={text1} />

    <h3>Technologies I know:</h3>
    <div class="technologies">
      <div class="slider">
       <Image />
      </div>
    </div>
  </main>
</Layout>

<style>

 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 main{
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
 }
  .technologies{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider {
    display: flex;
    max-width: 100%;
    padding: 1rem 4rem;
    background-color: rgba(12, 13, 19, 0.853);
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid rgba(3, 50, 0, 0.954);
    box-shadow: -webkit-box-shadow: inset 3px -19px 47px 31px rgba(13,13,13,1);
                -moz-box-shadow: inset 3px -19px 47px 31px rgba(13,13,13,1);
                 box-shadow: inset 3px -19px 47px 31px rgba(13,13,13,1);
  }
  .slider:hover {
    display: flex;
    max-width: 100%;
    padding: 1rem 4rem;
    background-color: rgba(34, 1, 63, 0.826);
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid rgba(137, 2, 255, 0.954);
    box-shadow: -webkit-box-shadow: inset 3px -19px 47px 31px rgba(13,13,13,1);
                -moz-box-shadow: inset 3px -19px 47px 31px rgba(13,13,13,1);
    box-shadow: inset 3px -19px 47px 31px rgba(13,13,13,1);
  }
</style>
