---
import Card from "./Card.astro";
---

<section class="card">
  <div class="items-1">
    <Card
      title="Desarrollo Intensivo de E-commerce con ReactJS y Redux en un Desafío de 48 Horas"
      body="En resumen, este proyecto no solo representó un desafío emocionante, sino también una oportunidad invaluable para explorar las capacidades de ReactJS y Redux en un entorno de desarrollo acelerado. La combinación de estas tecnologías resultó en un e-commerce sólido, eficiente y altamente funcional en tan solo 48 horas."
      href="https://tubular-platypus-4907a3.netlify.app/"
      myproject="/ecommerce.webp"
    />
  </div>

  <div class="items-2">
    <Card
      title="Explorando el Mundo Pokémon con ReactJS"
      body="Esta página fue creada con el propósito de sumergirme en el fascinante universo Pokémon, aprovechando la potente API disponible. Durante el desarrollo, mi objetivo fue revivir momentos nostálgicos y crear una experiencia inmersiva para los amantes de Pokémon."
      href="https://fancy-mooncake-9f4fb6.netlify.app/"
      myproject="/pokemons.webp"
    />
  </div>

  <div class="items-3">
    <Card
      title="Desarrollo de API con Node.js y Express: Chat, Comentarios, Temas Globales y Administración de Productos"
      body="En este proyecto, puse de manifiesto mis habilidades en el backend al crear una API completa con Node.js y Express. La tarea principal consistió en desarrollar un sistema de chat para amigos, grupos o conversaciones individuales, junto con funcionalidades de comentarios y discusiones globales. Además, se incorporó un apartado de administración que permite la creación de productos para un e-commerce o tienda virtual."
      href="https://calm-pudding-e07f60.netlify.app/"
      myproject="/ecommerceapi.webp"
    />
  </div>

  <div class="items-4">
    <Card
      title="Desarrollo Completo de E-commerce con TypeScript"
      body="Este proyecto no solo demostró nuestras habilidades técnicas en el desarrollo de software, sino que también ilustró nuestra capacidad para aplicar conceptos avanzados como TypeScript en un contexto práctico. La creación de un e-commerce completo no solo fue un desafío emocionante, sino también una oportunidad valiosa para consolidar nuestros conocimientos y habilidades en el desarrollo web moderno."
      href="https://tubular-platypus-4907a3.netlify.app/"
      myproject="/Academlo-Store-react.webp"
    />
  </div>

  <div class="items-5">
    <Card
      title="Explorando el Clima con Astro: Desarrollo de una Aplicación Frontend Impactante"
      body="Esta aplicación fue concebida como un proyecto personal, donde me propuse crear una experiencia visualmente atractiva al explorar datos meteorológicos. Utilizando Astro, enfoqué mis esfuerzos en el desarrollo del frontend, aprovechando una API de clima para obtener detalles precisos al ingresar ubicaciones específicas. El objetivo principal era ofrecer una interfaz de usuario pulida y estéticamente agradable, mientras brindaba información detallada sobre el clima. La utilización de Astro permitió una construcción eficiente y optimizada del frontend, destacando por su rendimiento y velocidad."
      href="https://cheery-smakager-ee9c87.netlify.app/"
      myproject="/app-clima.webp"
    />
  </div>

  <div class="items-6">
    <Card
      title="Explorando el Efecto Parallax: Creación de un Bosque con JS y HTML"
      body="Este proyecto más pequeño se convirtió en una oportunidad invaluable para ampliar mis conocimientos sobre el movimiento de objetos en páginas web. Me embarqué en la tarea de desarrollar un bosque parallax utilizando JS y HTML, con el objetivo principal de profundizar mis habilidades en el manejo de manipulación del DOM mediante vanilla JavaScript."
      href="https://illustrious-stroopwafel-b0992a.netlify.app/"
      myproject="/Bosque-Parallax.webp"
    />
  </div>

  <div class="items-7">
    <Card
      title="Explorando el Universo de Rick and Morty: Consumo Creativo de la API"
      body="En mi búsqueda constante por mejorar mis habilidades de desarrollo, decidí sumergirme en la API de Rick and Morty. Este proyecto se centró en la creación de un frontend futurista que no solo deslumbraría a los fanáticos de la serie, sino que también destacaría cada detalle proporcionado por la API. La API de Rick and Morty ofreció una fuente rica de información sobre personajes, episodios y más, y mi objetivo fue presentar esta información de una manera única y visualmente impactante. El desarrollo del frontend se convirtió en una oportunidad para explorar estilos futuristas y técnicas avanzadas de presentación de datos."
      href="https://lighthearted-bavarois-7ab6e7.netlify.app/"
      myproject="/rick-and-morthy.webp"
    />
  </div>

  <div class="items-8">
    <Card
      title="Gestión Eficiente de Estados con Astro: Creación de UserList Minimalista con Zustand"
      body="En la búsqueda de una gestión de estados eficiente, embarqué en la creación de un pequeño proyecto utilizando Astro, Zustand y un diseño minimalista. La tarea principal fue desarrollar un frontend amigable para una UserList, centrándome en la implementación de Zustand para la gestión de estados. La elección de Astro proporcionó una base sólida para la construcción del frontend, aprovechando su eficiencia y velocidad. La implementación de Zustand para el manejo de estados facilitó un flujo de datos sencillo y eficiente, permitiendo una experiencia de usuario suave y receptiva."
      href="https://cool-caramel-f5f9ed.netlify.app/"
      myproject="/userlist.webp"
    />
  </div>
</section>

<style>
  :root {
    --color1: #0c0c36;
    --color2: #154261;
    --color3: #7385a1;
    --color4: #cdd4e0;
    --color5: #f3f3f3;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .card {
    outline: 1% solid var(--color4);
    border: none;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    background-color: var(--color5);
    gap: 1.5% 1.5%;
    grid-template-areas:
      "items-1 items-1 items-1 items-2"
      "items-1 items-1 items-1 items-3"
      "items-5 items-4 items-4 items-4"
      "items-6 items-4 items-4 items-4"
      "items-7 items-7 items-8 items-8"; /* Add semicolon here */

    width: 100%;
  }

  .items-1 {
    grid-area: items-1;
    padding: 15px 5px;
    height: 100%;
    background-color: var(--color5);
    -webkit-box-shadow: 0px 0px 26px 4px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 0px 0px 26px 4px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 26px 4px rgba(0, 0, 0, 0.68);
    filter: blur(2px);
  }
  .items-1:hover {
    grid-area: items-1;
    padding: 15px 5px;
    height: 100%;
    box-shadow: var(--color3);
    filter: blur(0px);
  }

  .items-2 {
    grid-area: items-2;
    height: 100%;
    background-color: var(--color5);
    -webkit-box-shadow: 0px 0px 26px 4px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 0px 0px 26px 4px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 26px 4px rgba(0, 0, 0, 0.68);
    filter: blur(2px);
  }
  .items-2:hover {
    grid-area: items-2;
    height: 100%;
    background-color: var(--color5);
    box-shadow: var(--color3);
    filter: blur(0px);
  }
  .items-3 {
    grid-area: items-3;
    height: 100%;
    background-color: var(--color5);
    -webkit-box-shadow: 0px 0px 26px 4px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 0px 0px 26px 4px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 26px 4px rgba(0, 0, 0, 0.68);
    filter: blur(2px);
  }
  .items-3:hover {
    grid-area: items-3;
    height: 100%;
    background-color: var(--color5);
    box-shadow: var(--color3);
    filter: blur(0px);
  }
  .items-4 {
    grid-area: items-4;
    height: 100%;
    background-color: var(--color5);
    box-shadow: var(--color3);
    -webkit-box-shadow: 0px 0px 26px 4px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 0px 0px 26px 4px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 26px 4px rgba(0, 0, 0, 0.68);
    filter: blur(2px);
  }
  .items-4:hover {
    grid-area: items-4;
    height: 100%;
    background-color: var(--color5);
    box-shadow: var(--color3);
    filter: blur(0px);
  }
  .items-5 {
    grid-area: items-5;
    height: 100%;
    background-color: var(--color5);
    -webkit-box-shadow: 0px 0px 26px 4px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 0px 0px 26px 4px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 26px 4px rgba(0, 0, 0, 0.68);
    filter: blur(2px);
  }
  .items-5:hover {
    grid-area: items-5;
    height: 100%;
    background-color: var(--color5);
    box-shadow: var(--color3);
    filter: blur(0px);
  }
  .items-6 {
    grid-area: items-6;
    height: 100%;
    background-color: var(--color5);
    -webkit-box-shadow: 0px 0px 26px 4px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 0px 0px 26px 4px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 26px 4px rgba(0, 0, 0, 0.68);
    filter: blur(2px);
  }
  .items-6:hover {
    grid-area: items-6;
    height: 100%;
    background-color: var(--color5);
    box-shadow: var(--color3);
    filter: blur(0px);
  }
  .items-7 {
    grid-area: items-7;
    height: 100%;
    background-color: var(--color5);
    -webkit-box-shadow: 0px 0px 26px 4px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 0px 0px 26px 4px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 26px 4px rgba(0, 0, 0, 0.68);
    filter: blur(2px);
  }
  .items-7:hover {
    grid-area: items-7;
    height: 100%;
    background-color: var(--color5);
    box-shadow: var(--color3);
    filter: blur(0px);
  }
  .items-8 {
    grid-area: items-8;
    height: 100%;
    background-color: var(--color5);
    -webkit-box-shadow: 0px 0px 26px 4px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 0px 0px 26px 4px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 26px 4px rgba(0, 0, 0, 0.68);
    filter: blur(2px);
  }
  .items-8:hover {
    grid-area: items-8;
    height: 100%;
    background-color: var(--color5);
    box-shadow: var(--color3);
    filter: blur(0px);
  }
</style>
