---
interface Props {
  title: string;
  body: string;
  href: string;
  myproject: string;
}

const { href, title, body, myproject } = Astro.props;
---
{/*prueba para github */}
console.log("prueba nester Dev")
<li class="link-card">
  <a href={href}>
    <h2>
      {title}
      <span>&rarr;</span>
      <span class="p">
        {body}
      </span>
    </h2>

    <img src={myproject} />
  </a>
</li>
<style>
  .link-card a img {
    width: 100%;
    padding: 2rem;
    object-fit: cover;
    height: 90%;
    text-decoration: none;
  }
  .link-card a h2 {
    font-family: "Lato", sans-serif;
    padding: 0.1rem 2rem;
    letter-spacing: 1px;
    line-height: 0.9em;
    font-size: small;
    text-align: start;
    color: black;
  
  }
  .link-card a h2 .p {
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
    line-height: 0.5em;
    font-size: small;
    color: rgb(49, 49, 49);
  }
</style>
