<header>
    <a href="./" id="personal-logo">nesterdev</a>
    <div id="hamburger"></div>
    <nav>
        <a class="nav-links" href="#welcome-section">About</a>
        <a class="nav-links" href="#welcome-section">Projects</a>
        <a class="nav-links" href="#welcome-section">Interesting</a>
        <a class="nav-links" href="#welcome-section">Contact</a>
    </nav>
</header>